.doctor {
    background-image: url(../static/img/fundo.jpg);
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
}

.widget{
    background-color: aliceblue;
    padding: 30px;
}


.patient {
    background-image: url(../static/img/unnamed.jpg);
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pad{
    padding-top: 10%;
    padding-bottom: 10%;
}

